@import "tailwindcss";

@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1f2633 #000000;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background: #44474e;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #27282a;
}

*::-webkit-scrollbar-corner {
  background: #000000;
}

:root {
  --color-primary: #000000;
  --color-secondary: #0070a8;

  --color-background: #000000;

  --font-primary: var(--font-ubuntu);
  --font-secondary: var(--font-roboto);
  --font-public-sans: var(--font-public-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
  }
}

.font-public-sans {
  font-family: var(--font-public-sans), sans-serif;
}
@keyframes shine {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.shiny-text {
  background: linear-gradient(
    90deg,
    #ffffff,
    #b0b0b0,
    #ffffff,
    #c0c0c0,
    #ffffff
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 10s linear infinite;
}

.bg-gradient-radial {
  background: radial-gradient(circle, var(--tw-gradient-stops));
}
